[submodule "FV3"]
	path = FV3
	url = https://github.com/NOAA-EMC/fv3atm
	branch = develop
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/NOAA-EMC/NEMS.git
	branch = develop
[submodule "FMS"]
	path = FMS
	url = https://github.com/NOAA-GFDL/FMS
	branch = master
[submodule "stochastic_physics"]
	path = stochastic_physics
	url = https://github.com/noaa-psd/stochastic_physics
	branch = master
[submodule "CMEPS"]
	path = CMEPS
	url = https://github.com/aerorahul/CMEPS.git
	branch = feature/no-pio
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3.git
	branch = develop
[submodule "CICE6"]
	path = CICE-interface/CICE
	url = https://github.com/NOAA-EMC/CICE.git
	branch = emc/develop
[submodule "MOM6-interface/mkmf"]
	path = MOM6-interface/mkmf
	url = https://github.com/NOAA-EMC/mkmf
	branch = develop
[submodule "MOM6-interface/MOM6"]
	path = MOM6-interface/MOM6
	url = https://github.com/NOAA-EMC/MOM6
	branch = dev/emc
