[submodule "FV3"]
	path = FV3
	url = https://github.com/NOAA-EMC/fv3atm
	branch = develop
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/NOAA-EMC/NEMS.git
	branch = develop
[submodule "CICE_SRC"]
	path = CICE_SRC
	url = https://github.com/NOAA-EMC/CICE5.git
[submodule "FMS"]
	path = FMS
	url = https://github.com/NOAA-GFDL/FMS
	branch = master
[submodule "stochastic_physics"]
	path = stochastic_physics
	url = https://github.com/noaa-psd/stochastic_physics
[submodule "MOM6"]
	path = MOM6
	url = https://github.com/NOAA-EMC/MOM6-interface
	branch = develop
[submodule "CMEPS"]
	path = CMEPS
	url = https://github.com/ESCOMP/CMEPS.git
	branch = master
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3.git
	branch = develop
[submodule "CICE6"]
	path = CICE6
	url = https://github.com/ESCOMP/CICE.git
